:root {
    --primary-color: #EE4D2D;
    --while-color : #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: rgb(255, 206, 61, 1);
    --header-height: 120px;
    --navbar-height: 32px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));

}

*{
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* viết 62,5% có nghĩa là cứ 1 rem thì bằng 10px, còn nếu bằng 100% thì cứ 1rem bằng 16px */
    line-height: 1.6rem; /* chiều cao của dòng chữ */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*Responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto; /* để căn giữa khối này khi nằm trong một cái khối khác */
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/*Test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 33.3334%;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity:0 ;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
       transform: scale(var(--growth-form)) ;
    }
    to {
       transform: scale(var(--growth-to)) ;
    }
}

@keyframes headerGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal__body {
    --growth-form: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}

/* Button style*/
.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius:2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--while-color);
    display:inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;

}

.btn.btn-normal:hover {
    background-color:rgba(0, 0, 0, 0.05)
}

.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding:0 8px;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--while-color);
}

.btn.btn--disabled {
    cursor: default;
    background-color:#c3c3c3;
    color: #949494;
} 

/*Selection */
.select-input {
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--while-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 1px #e0e0e0;
    z-index: 1;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__label {
    font-size: 1.4rem;

}

.select-input__icon {
    font-size: 2rem;
    color: #555555;
    position: relative;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 75%;
    list-style: none;
    border-radius: 2px;
    padding: 10px 16px 8px 16px;
    background-color: var(--while-color);
    display: none;
    animation: fadeIn linear 0.1s;
    box-shadow: 0 1px 1px #e0e0e0;
}

.select-input__list::after {
    content: "";
    display: block;
    position: absolute;
    top: -6px;
    right: 0;
    width: 100%;
    height: 8px;
}

.select-input__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 8px 0;
}

.select-input__link:hover {
    color: var(--primary-color);
}

/* Phân trang */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item {
    margin: 0 6px;
}

.pagination-item--active .pagination-item-link{
    background-color: var(--primary-color);
    color: var(--while-color)
}

.pagination-item--active .pagination-item-link:hover {
    background-color: #ed5c3f;
}

.pagination-item-link {
    --height: 30px;
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000000DE;
    min-width: 40px;
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    border-radius: 2px;
}

.pagination-item__icon {
    color: #a5a5a5;
    font-size: 1.6rem;  
}


