.app {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6133, #f6412d);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0px 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    display: flex;
    justify-content: center;
    padding: relative;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-avatar {
    width:22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: 100%;
    width: 146px;
    right: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    box-shadow: 0 2px 2px #e0e0e0;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    border-width:20px 27px ;
    border-style: solid;
    border-color:transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -28px;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 70%;
    height: 8px;
}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0,0,0,0.05);
}


.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 400;
    display: block;
    padding: 12px 16px;
    animation: fadeIn linear 0.1s;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
    color: #05ddab;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item-link,
.header__navbar-item {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none; /* bỏ gạch chân của chữ */
    font-weight: 300;
}

.header__navbar-icon-link:hover,
.header__navbar-item-link:hover,
.header__navbar-item:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #f98375;
    right: -9px ;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none; /* bỏ gạch chân dưới icon */ 
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-item-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */
.header__qr{
    width: 187px;
    background-color:var(--white-color);
    position: absolute;
    z-index: 1;
    left: 0;
    top: 120%;
    padding: 3px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;    
    content: "";
    display: block;

}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 17px;
}

/* Header notification */

.header__notify {
    position: absolute;
    z-index: 10;
    top: 120%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.1);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
    
}

.header__notify::before {
    content: "";
    border-width:20px 27px ;
    border-style: solid;
    border-color:transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -29px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}

.header__notify-header {
    height: 40px; 
    background-color: var(--white-color);   
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight:400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;

}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color:  #fcefec;
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 8px 12px 8px 12px;
    text-decoration: none;
    border-bottom: #f5e6e6 ;
}

.header__notify-img {
    height: 40px;
    padding-top: 4px;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: #3f3c3c;
    font-weight: 400;
    line-height: 1.8rem;
    margin-bottom: 4px;
    
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.6rem;
}

.header__notify-footer {
    text-align: center;
    height: 40px;
}

.header__notify-footer-btn {
    text-decoration: none;
    line-height: 40px;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.4rem;
    padding: 14px 48px;
} 


/* Authen modal */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius:5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__input {
    width: 100%; 
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius:2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;

}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height:1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color)
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color:  #F5F5F5;
    padding: 16px 36px;
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;

}

.auth-form__socials-facebook {
    background-color: #3A5A98;
    color: var(--white-color);
}

.auth-form__socials-google {
    background-color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0 24px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;

}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 20px;
    border-left: 1px solid #EAEAEA;
    margin: 1px 16px 4px ;
}

.auth-form__help-forgot {
    color: var(--primary-color)
}

/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__mobile-navbar {
    padding: 0 12px;
    display: none;
}

.header__mobile-navbar-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}
.header__mobile-search {
    position: absolute;
    right: 58px;
    top: 35%;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
    padding: 0 6px;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
}

.header__logo-img {
    width: 154px;
}

.header__search {
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-selection {
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-laber  {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #979696;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius:2px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 120%;
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 2px #ccc;
    padding-left:0 ;
    display: none;  
    animation: fadeIn ease-in 0.2s;
}

.header__search-option::before {  
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    top: -20px;
    left: 0;
    position: absolute;
}

.header__search-selection:hover .header__search-option{
    display: block;
}

.header__search-option-item {
    background-color: var(--white-color);  
    padding: 8px 8px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history{
    display: block;
}

/*Search history*/
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;;
    box-shadow: 0 1px 4px #ccc;
    display: none;
    overflow: hidden;
    z-index: 10;
}

.header__search-history-heading {
    margin: 8px 12px;
    font-size: 1.4em;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px; 
}

.header__search-history-item:hover {
    background-color: #fafafa;
}


.header__search-history-item > a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height:38px;
    display:block;
}

.header__cart{
    margin: 0 60px; 
}

.header__cart-wrap {
    position: relative;
    padding: 0 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-notice {
    position: absolute;
    padding: 2px 6px;
    font-size: 1.4rem;
    line-height: 1.2rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    background-color: var(--white-color);
    color: var(--primary-color);
    top: -5px;
    right: -5px;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
}

.header__cart-list {
    position: absolute;
    z-index: 2;
    top: calc(100% + 14px);
    right:0px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    transform-origin: calc(100% - 20px) top;
    animation: headerGrowth  ease-in 0.2s;
    cursor: default;
    
}

.header__cart-list::-webkit-scrollbar {
    display:none;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    right: 3px;
    top: -26px;
    border-width:16px 20px ;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-list--no-cart {
    padding: 24px 0;
    
}

.header__cart-list--no-cart .header__cart-list--no-cart-img  {
    display: block;
    margin: 0 auto;
}

.header__cart-list--no-cart-img {
    width: 60%;
    display: none;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.6rem;
    color: #ccc;
    font-weight: 300;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: 44vh;
    overflow-y: scroll;
}

.header__cart-list-item::-webkit-scrollbar {
    display: none;
}

.header__cart-item {
    display: flex;
   align-items: center;
}


.header__cart-item:hover {
    background-color: #F8F8F8;

}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-info {
    width: 100%;
    line-height:2rem;
}

.header__cart-item-head {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 220px;
    
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-body {
    float: left;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
}  

.heder__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.heder__cart-view-cart:hover {
    background-color: #F05D41;
}

/* Header sort bar */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    /* display: flex; */
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
}

.header__sort-item {
    flex: 1;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}

.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 40%;
    transform: translateY(-50%);
    border-left: 1px solid #E8E8E8;
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.header__sort-item:first-child .header__sort-link::before {
    display: none;
}

.header__sort-icon {
    font-size: 1.6rem;
    color: #686666;
    position: relative;
    top: 1px;
    margin-left: 3px;
}
/* App container */

.app__container {
    background-color: #F5F5F5;
}

.app__content {
    padding-top: 36px;
}

.category {
    background-color: var(--white-color);
    border-radius:2px;

}

.category__heading {
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 12px 16px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
    margin-top: 0;
    margin-bottom: 0;
    top: 0;
    position: relative;
}

.category__heading::before {
    content: "";
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    position: absolute;
    left: 16px;
    right: 16px;
    top: 100%; 
} 

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 0 8px 0;
    margin-left: 8px;
}

.category-item {
    /* position: relative; */
    list-style: none;
}

/* .category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: "";
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    position: absolute;
    left: 16px;
    right: 16px;
    top: 0;
} */

.category-item--active .category-item-link {
    color: var(--primary-color);

}

.category-item--active .category-item-link::before {
    content: "";
    top: 50%;
    left: 8px;
    position: absolute;
    border: 4px solid;
    transform: translateY(calc(-50% - 1px));
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item-link {
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 8px 16px;
    right: 0;
}

.category-item-link:hover {
    color: var(--primary-color);
}

/* Mobile category*/
.mobile-categogy {
    display: none;
}

.mobile-categogy__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
    margin: 0;
}

.mobile-categogy__item {
    flex-shrink: 0;
    margin-right: 6px; 
}

.mobile-categogy__item--active {
    border-radius: 1px solid var(--primary-color);
}

/* .mobile-categogy__item:nth-of-type(3n + 1) .mobile-categogy__link {
    background-color: #87AFD8;
}


.mobile-categogy__item:nth-of-type(3n + 2) .mobile-categogy__link {
    background-color: #76C9BD;
}


.mobile-categogy__item:nth-of-type(3n + 3) .mobile-categogy__link {
    background-color: #88CF81;
} */

.mobile-categogy__link {
    --line-height: 2rem;
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2;
    width: 108px;
    text-align: center;
    border-radius: 3px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    padding: 0 6px;
    background-color: #fff;
    
}

.mobile-categogy--active {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.mobile-categogy__list::-webkit-scrollbar {
    display: none;
}

/* .mobile-categogy-link-item {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: pink;
} */

.mobile-categogy-icon {
    font-size: 1.6rem;
    color: #f98375;
}

/* .mobile-categogy-link-img {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
} */

/*Home sort + filter */
.home-filter {
    background-color: rgba(0, 0, 0, 0.03);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label {
    color: #555555;
    font-size: 1.4rem;
    margin-right: 16px;
    
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
    box-shadow: 0 1px 1px #e0e0e0;
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;

}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    box-shadow: 0 1px 1px #e0e0e0;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn--disabled{
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #cfcfcf;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.6rem;
    color: #6d6d6d;
}

/* Product item */
.home-product {
    position: relative;
    margin-bottom: 10px;
}

.home-product-link {
    text-decoration: none;
}

.home-product-item {
    position: relative;
    background-color: var(--white-color);
    margin-top: 14px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    min-height: 297px;
}

.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* border-top-left-radius: 2px;
    border-top-right-radius: 2px; */
}

.home-product-item__name {
    height: 2.8rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.4rem;
    margin: 10px 10px 5px 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.home-product-item__price {
    display: flex;
    margin: 0 10px;
    align-items: baseline;
    flex-wrap: wrap;
    min-height: 34px;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    text-decoration: line-through;
    margin-right: 4px;
    color: var(--text-color);
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color)
}

.home-product-item__icon-freeship {
    margin-left: auto;
}

.home-product-item__icon-freeship--no-support {
    display: none;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px 10px;
    min-height: 32px;
}

.home-product-item__like {
    font-size: 1.2rem;
}

i.home-product-item__like-icon-fill {
    display: none;
    color: rgb(245, 61, 47, 1);
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 0.9rem;
    color: rgb(204, 204, 204, 1);
    margin-top: -1px;
    margin-left: auto;
}

.home-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    margin-left: 5px;
    font-size: 1.2rem;
    color: #000000DE;
    margin-left: auto;
   
}

.home-product-item__origin {
    display: flex;
    justify-content: flex-end;
    margin: 0 10px;
    padding-bottom: 10px ;
    min-height: 22px;
}

.home-product-item__brand {
    color: #595959;
    font-size: 1.2rem;
    line-height: 1.2rem;
   
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -7px;
    color: #f25220;
    background-color: currentColor;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 4px;
    padding: 0 4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; 
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 38px;
    height: 34px;
    background-color: rgba(255, 216, 36, 0.9);
    text-align: center;
    padding: 4px 2px 3px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -5px;
    color: rgba(255, 216, 36, 0.9);
    border-width: 0 19px 5px;
    border-style: solid;
    border-color: transparent currentColor transparent currentColor ;
}

.home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-size: 1.2rem; 
    font-weight: 400;
    position: relative;
    top: -2px;
    
}

.home-product-item__sale-off-label {
    font-size: 1.2rem;
    color: var(--white-color);
    line-height: 1.2rem;
    position: relative;
    top: -5px;
    font-weight: 500;
}

.home-product__pagination {
    margin: 48px 32px;
    padding-left: 0;
}

/*Footer*/

/* Footer top */
.footer__top {
    background-color: var(--white-color);
    min-height: 120px;
    align-items: center;
    border-top: 4px solid var(--primary-color);
    border-bottom: 1px solid rgba(0,0,0,.09);
    padding: 8px 0;
}

.footer__top-item {
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 120px;
}

.footer__top-img {
    width: 50px;
    margin-right: 12px;
}

.footer__top-text {
    font-size: 1.4rem;
    color: #0000008A;
    line-height: 1.8rem;
    margin: 0;
}

/* Footer info */
.footer__info {
    background-color: var(--white-color);
    padding: 24px 0;
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #0000008A;
    font-weight: 500;
}

.footer-list {
    padding-left: 0;
    list-style: none;

}

.footer-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #0000008A;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.footer-link:hover {
    color: var(--primary-color);
}

.footer__transport-name {
    margin: 0;
    color: #0000008A;
    font-size: 1.2rem;
}

.footer-item-icon {
    font-size: 1.6rem;
    margin-right: 8px;
    color: #4a4a4a;
}

.footer__download {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer__download-qr {
    width: 86px;
    height: 86px;
    /* object-fit: contain; */
    border: 1px solid var(--border-color);
    margin-right: 8px;
}

.footer__download-apps {
    margin-left: 3px;
    display: flex;
    flex-direction: column;
}

.footer__download-app-img {
    height: 20px;
    margin-bottom: 4px;
}

.footer__download-app-link {
    text-decoration: none;
    color: transparent;
}

/* Footer copyright */
.footer__copyright {
    background-color: #f5f5f5;
    padding: 42px 0 37px;
}

.footer__copyright-policy {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #f5f5f5;
}

.footer__policy-list {
    padding: 0 24px;
    border-right: 1px solid rgba(0,0,0,.09);
    margin-bottom: 24px; 
}

.footer__policy-list:last-child {
    border-right: 0;
}

.footer__policy-link {
    text-decoration: none;
    align-items: center;
    font-size: 1.2rem;
    color: #0000008A;
}

.footer__copyright-title {
    margin: 8px 0 25px;
}

.footer__copyright-title,
.footer__copyright-info {
    color: #0000008A;
    font-size: 1.2rem;
    text-align: center;
    
}

.footer__copyright-info {
    line-height: 2.4rem;
    margin: 0;
}











